 
  
  .card {
    background: #fefefa;
    box-shadow: 6px 6px 5px gray;
    width: 360px;
    height: 275px;
    padding: 0;
    margin: 15px;
  }

  .card_title {
    height: 60px;
    width: 100%;
    position: relative;
  }

  .redline {
     
    width: 100%;
    background-color: red;
    height: 4px;
    
  }

  .blueline {
    margin-top: 10px;
    width: 100%;
    background-color: steelblue;
    height: 1px;
  }

  .card_row {
    
    height: 20px;
    width: 100%;
    position: relative;
  }

  .text_title {
    font-family: 'Seaweed Script', cursive;
    font-size: 2em;
    bottom: 0;
    position: absolute;
    font-weight: bold;
  }
  .text {
    font-family: 'Seaweed Script', cursive;
    font-size: 1em;
    bottom: 0;
    position: absolute;
  }

 



















  


/* 
.card {
    background: #fdf7ef;
    box-shadow: 6px 6px 5px gray;
    width: 490px;
    height: 300px;
    padding: 5px;
  }
  .card_title {
    height: 60px;
    width: 100%;
    position: relative;
  }
  .card_row {
    
    height: 20px;
    width: 100%;
    position: relative;
  }
  .redline {
     
    width: 100%;
    background-color: red;
    height: 4px;
  }
  .blueline {
    margin-top: 10px;
    width: 100%;
    background-color: steelblue;
    height: 2px;
  }
  .text_title {
    font-family: 'Seaweed Script', cursive;
    font-size: 2em;
    bottom: 0;
    position: absolute;
    font-weight: bold;
  }
  .text {
    font-family: 'Seaweed Script', cursive;
    font-size: 1em;
    bottom: 0;
    position: absolute;
  }

 